{% extends 'tracker/base.html' %}

{% load crispy_forms_tags %}

{% block title %}
<title>Edit Conversion</title>
{% endblock %}

{% block content %}
<div class="container">
  <div style="margin-top: 40px;" class="row">
    <div class="col s12">
      <form method="POST" action="{% url 'edit-conversion' conversion.id %}">
        {% csrf_token %}
        <fieldset>
          <legend style="font-size: large;">Edit Conversion</legend>
          <div style="margin-top: 20px;" class="input-field col s12">
            <i class="material-icons prefix">text_fields</i>
            <input value="{{ conversion.conversion_name }}" placeholder="Enter Conversion Name Here" id="conversion_name" name="conversion_name" type="text" class="validate" required >
            <label for="conversion_name">Conversion Name</label>
          </div>
          <div style="margin-top: 20px;" class="input-field col s12">
            <i class="material-icons prefix">date_range</i>
            <input value="{{ conversion.start_date|date:'Y-m-d' }}" class="datepicker" placeholder="Pick Start Date Here" id="start_date" name="start_date" type="text" class="validate" required >
            <label for="start_date">Start Date</label>
          </div>
          <div style="margin-top: 20px;" class="input-field col s12">
            <i class="material-icons prefix">date_range</i>
            <input value="{{ conversion.end_date|date:'Y-m-d' }}" class="datepicker" placeholder="Pick End Date Here" id="end_date" name="end_date" type="text" class="validate" required >
            <label for="end_date">End Date</label>
          </div>
          <div style="margin-top: 20px;" class="input-field col s12">
            <i class="material-icons prefix">business</i>
            <select multiple name="facilities" id="facilities">
              <!-- 21C -->
              {% if "21C" in conversion.facilities %}
              <option selected value="21C">21C</option>
              {% else %}
              <option value="21C">21C</option>
              {% endif %}

              <!-- 939 -->
              {% if "939" in conversion.facilities %}
              <option selected value="939">939</option>
              {% else %}
              <option value="939">939</option>
              {% endif %}

              <!-- 971 -->
              {% if "971" in conversion.facilities %}
              <option selected value="971">971</option>
              {% else %}
              <option value="971">971</option>
              {% endif %}

              <!-- 952 -->
              {% if "952" in conversion.facilities %}
              <option selected value="952">952</option>
              {% else %}
              <option value="952">952</option>
              {% endif %}

              <!-- 872 -->
              {% if "872" in conversion.facilities %}
              <option selected value="872">872</option>
              {% else %}
              <option value="872">872</option>
              {% endif %}

              <!-- 968 -->
              {% if "968" in conversion.facilities %}
              <option selected value="968">968</option>
              {% else %}
              <option value="968">968</option>
              {% endif %}

              <!-- 954 -->
              {% if "954" in conversion.facilities %}
              <option selected value="954">954</option>
              {% else %}
              <option value="954">954</option>
              {% endif %}
            </select>
            <label for="facilities">Facilities</label>
          </div>
          <button class="waves-effect waves-light btn" type="submit"><i class="material-icons left">system_update_alt</i> Update</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
  //init datepicker
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems, {format: 'yyyy-mm-dd'});
  });

  // init select facilities
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, {});
  });
</script>
{% endblock %}